.navBar {
    display: flex;
    justify-content: space-around;
}

.head {
    text-align: center;
}

.menu a {
    font-weight: bold;
    cursor: pointer;
}

.active {
    color: blue;
    text-decoration: underline;
}